html,
body {
  margin: 0;
  height: 100%;
}

.cented-row{

    display: flex;

    min-height: 100vh;
    width: 100%;
    align-items: center;

}
.input-group-merge{
  margin:10px;
}
.box{
  width: 70%;
  
}
.mr-1{
  position: center;
}